<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <?php include_once('./view/google_tag_head.html');?>
    <title><?php echo TITLE?></title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="favicon.ico" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png" sizes="180x180">
    <meta content="<?php echo DESCRIPTION?>" name="description">
    <meta content="<?php echo KEYWORDS?>" name="keywords">
</head>